body {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 52px;
  color: #232D3F;
  margin-bottom: 5px;
}

p {
  line-height: 1.3em;
  margin-bottom: 10px;
  color: #EEEEEE;
}

#main-nav {
  display: none;
}

#logo-section {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

#burger-nav {
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  #burger-nav {
    display: none;
  }
  #main-nav {
    background-color: transparent;
    display: block;
    padding: 0;
    text-align: left;
  }
  #main-nav ul {
    padding: 0;
  }
  #main-nav li {
    display: inline;
    font-family: "Raleway", sans-serif;
  }
  #main-nav li {
    margin-right: 23px;
  }
  #main-nav ul li a {
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: #008170;
  }
  #main-nav li a:hover {
    padding-bottom: 7px;
    border-bottom: 2px solid #EEEEEE;
  }
  #logo-section img {
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  #main-nav ul li a {
    font-size: 27px;
  }
  #logo-section img {
    height: 80px;
  }
}
@media screen and (min-width: 1920px) {
  #main-nav ul li a {
    font-size: 35px;
  }
  #logo-section img {
    height: 100px;
  }
}
#burger-nav {
  padding: 0;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
}

.hamburger {
  position: relative;
  display: block;
  cursor: pointer;
  z-index: 100;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger img {
  height: 90px;
  width: 100%;
}

.burger_menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #0F0F0F;
  padding-top: 120px;
  transition: 0.4s;
  list-style-type: none;
}

.burger_menu.is-active {
  left: 0;
}

.burger_menu a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #008170;
  color: #FFF;
  text-decoration: none;
}

.burger_menu a:hover {
  background-color: #232D3F;
}

@media (min-width: 768px) {
  .burger_menu {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
#earbuds-box {
  padding: 0;
  margin-top: 0;
}

model-viewer {
  width: auto;
  max-width: 1920px;
  height: 500px;
  background: #B4453A;
  background: linear-gradient(90deg, rgb(0, 47, 129) 0%, rgb(0, 129, 112) 50%, rgb(0, 88, 129) 100%);
  margin: 0 auto;
}

.Hotspot {
  background: url(../images/hotspot.svg) center no-repeat;
  border: 0px;
  width: 35px;
  height: 35px;
  display: none;
  transition: all 1s ease-in-out;
}

.Hotspot:hover {
  background: url(../images/hotspot2.svg) center no-repeat;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  visibility: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-size: 18px;
  font-weight: 600;
  left: calc(50% + 1em);
  max-width: 100px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
  text-align: left;
}

.HotspotAnnotation p {
  color: #333;
  line-height: 10px;
  font-size: 10px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.HotspotAnnotation h2 {
  font-size: 16px;
  margin-bottom: 5px;
  font-family: "Bebas Neue", sans-serif;
}

model-viewer::part(default-progress-bar) {
  height: 30px;
  background-color: #232D3F;
}

/* AR Rules */
#ar-button {
  background-image: url(../images/ar_icon.png);
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

.image-content {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .Hotspot {
    width: 40px;
    height: 40px;
  }
  .HotspotAnnotation {
    max-width: 200px;
    top: 50%;
  }
  .HotspotAnnotation p {
    font-size: 12px;
    line-height: 13px;
  }
  .HotspotAnnotation h2 {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  model-viewer {
    height: 700px;
  }
  .Hotspot {
    width: 50px;
    height: 50px;
  }
  .HotspotAnnotation {
    left: calc(100% + 1em);
    max-width: 300px;
    width: max-content;
  }
  .HotspotAnnotation p {
    line-height: 22px;
    font-weight: 300;
    font-size: 15px;
  }
  .HotspotAnnotation h2 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1920px) {
  model-viewer {
    height: 1000px;
  }
  .Hotspot {
    width: 55px;
    height: 55px;
  }
  .HotspotAnnotation {
    left: calc(100% + 1em);
    max-width: 350px;
    width: max-content;
  }
  .HotspotAnnotation p {
    font-size: 20px;
  }
  .HotspotAnnotation h2 {
    margin-top: 10px;
    font-size: 27px;
    margin-bottom: 5px;
  }
}
#xray-box {
  padding: 0;
  background-color: transparent;
}

#outerShell {
  display: none;
}

@media screen and (min-width: 1200px) {
  #xray-box {
    background: linear-gradient(90deg, rgb(0, 47, 129) 0%, rgb(0, 129, 112) 50%, rgb(0, 88, 129) 100%);
  }
  #outerShell {
    margin-left: auto;
    margin-right: auto;
  }
  #mobile-tablet-view {
    display: none;
  }
  #outerShell {
    display: block;
    max-width: 1200px;
    border: solid 1px #666;
  }
  #imageCon {
    position: relative;
    max-width: 1200px;
    height: 700px;
  }
  .slideImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 700px;
  }
  .image-right {
    background: url(../images/x-ray.jpg) no-repeat;
    background-size: 1200px 700px;
  }
  .image-left {
    background: url(../images/ear_bud_red.jpg) no-repeat;
    background-size: 1200px 700px;
    width: 50%;
  }
  .image-drag {
    background-color: #008170;
    left: 50%;
    width: 10px;
    cursor: pointer;
  }
}
#animation-box {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

#explode-view {
  max-width: 100%;
}

#hero-box {
  padding: 0;
  background-color: transparent;
}

#hero-box span {
  color: #EEEEEE;
}

#hero-box h2 {
  line-height: 1em;
}

#info-box-title {
  padding: 0;
  margin-bottom: 0;
  margin-top: 70px;
  background-color: #232D3F;
}

#home-section {
  padding: 0;
  margin-top: 40px;
}

#info-box-title h2 {
  margin-top: 40px;
  font-size: 35px;
  color: #EEEEEE;
}

#info-box-main {
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  background-color: #232D3F;
}

.info-box-divided h3 {
  color: #008170;
}

.icon-info img {
  height: 50px;
}

#phrase-box {
  padding: 0;
  background-color: transparent;
}

#phrase-box h2 {
  font-size: 58px;
}

#phrase-box h2 span {
  color: #EEEEEE;
}

#review-box {
  background-color: transparent;
}

#box-review-info {
  background-color: #232D3F;
  padding-left: 10px;
  padding-right: 10px;
}

#box-review-info img {
  margin-top: 30px;
  height: 200px;
}

#stars-review img {
  height: 31px;
}

#review-text-box {
  height: 170px;
}

#review-text-box h3 {
  margin-top: 20px;
  color: #008170;
  font-size: 15px;
}

#review-text-box p {
  margin-top: 25px;
  font-size: 12px;
}

#circles {
  padding-top: 10px;
}

#circles button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#circles button .fa-solid {
  font-size: 30px;
  color: #008170;
  margin: 5px;
}

#circles button .fa-solid:hover {
  color: #232D3F;
}

@media screen and (min-width: 768px) {
  #hero-box h2 {
    font-size: 70px;
  }
  #info-box-title {
    margin: 0;
  }
  #info-box-main {
    display: flex;
    align-items: center;
    text-align: left;
  }
  #info-box-main > * {
    width: 50%;
    padding: 1rem;
  }
  .info-box-divided {
    display: flex;
  }
  .icon-info img {
    height: 55px;
    max-width: none;
    margin-right: 10px;
  }
  #phrase-box h2 {
    font-size: 104px;
  }
  #box-review-info {
    display: flex;
    align-items: center;
  }
  #box-review-info > * {
    width: 50%;
    padding: 1rem;
  }
  #information-responsive {
    text-align: left;
  }
  #image-review img {
    margin: auto;
    display: block;
  }
  #circles button .fa-solid {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  #hero-box h2 {
    font-size: 100px;
  }
  #info-box-title h2 {
    font-size: 65px;
  }
  .info-box-divided {
    font-size: 19px;
  }
  .icon-info img {
    height: 71px;
  }
  #phrase-box h2 {
    font-size: 174px;
  }
  #review-text-box h3 {
    font-size: 26px;
  }
  #review-text-box p {
    font-size: 26px;
  }
  #image-review img {
    height: 301px;
  }
  #stars-review img {
    height: 52px;
  }
  #review-text-box {
    height: 320px;
  }
  #circles button .fa-solid {
    font-size: 55px;
    margin: 10px;
  }
}
@media screen and (min-width: 1920px) {
  #hero-box h2 {
    font-size: 170px;
  }
  #info-box-title h2 {
    font-size: 100px;
  }
  .info-box-divided {
    font-size: 30px;
  }
  .icon-info img {
    height: 106px;
  }
  #phrase-box h2 {
    font-size: 262px;
  }
  #review-text-box h3 {
    font-size: 40px;
  }
  #review-text-box p {
    font-size: 40px;
  }
  #image-review img {
    height: 452px;
  }
  #stars-review img {
    height: 78px;
  }
  #review-text-box {
    height: 500px;
  }
  #circles button .fa-solid {
    font-size: 65px;
    margin: 15px;
  }
}/*# sourceMappingURL=main.css.map */