$primary-color: #232D3F;
$secondary-color: #008170;
$background-color: #B4453A;
$background-color-degrade: linear-gradient(90deg, rgba(0,47,129,1) 0%, rgba(0,129,112,1) 50%, rgba(0,88,129,1) 100%);
$accent-color: #0F0F0F;
$body-text-color: #EEEEEE;
$heading-font-family: 'Bebas Neue', sans-serif;
$body-font-family: 'Raleway', sans-serif;
$base-font-size: 11px;
$base-font-weight: 52px;