@use '../abstracts/variables' as x;

#xray-box{
    padding: 0;
    background-color: transparent;
}

#outerShell{
    display: none;
}


@media screen and (min-width:1200px) {
    #xray-box{
        background: x.$background-color-degrade;
    }

    #outerShell{
        margin-left: auto;
        margin-right: auto;
    }

    #mobile-tablet-view{
        display: none;
    }

    #outerShell {
        display: block;
        max-width: 1200px;
        border: solid 1px #666;
    }
    
    #imageCon {
        position: relative;
        max-width: 1200px;
        height: 700px;
    }
    
    .slideImage {
        position: absolute;
        left: 0;
        right: 0;
        height: 700px;
    }
    
    .image-right {
        background: url(../images/x-ray.jpg) no-repeat;
        background-size: 1200px 700px;
    }
    
    .image-left {
        background: url(../images/ear_bud_red.jpg) no-repeat;
        background-size: 1200px 700px;
        width: 50%;
    }
    
    .image-drag {
        background-color: x.$secondary-color;
        left: 50%;
        width: 10px;
        cursor: pointer;
    }
    
}

