@use '../abstracts/variables' as v;

body {
    font-family: v.$body-font-family;
}

h2{
    font-family: v.$heading-font-family;
    font-size: v.$base-font-weight;
    color: v.$primary-color;
    margin-bottom: 5px;
}

p{
    line-height: 1.3em;
    margin-bottom: 10px;
    color: v.$body-text-color;
}