@use '../abstracts/variables' as h;

//Hero Image

#hero-box{
    padding: 0;
    background-color: transparent;
}

#hero-box span{
    color: h.$body-text-color;
}

#hero-box h2{
    line-height: 1em
}



// Info


#info-box-title{
    padding: 0;
    margin-bottom: 0;
    margin-top: 70px;
    background-color: h.$primary-color;
}

#home-section{
    padding: 0;
    margin-top: 40px;
}

#info-box-title h2{
    margin-top: 40px;
    font-size: 35px;
    color: h.$body-text-color;
}


#info-box-main{
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    background-color: h.$primary-color;
}

.info-box-divided h3{
    color: h.$secondary-color;
}

.icon-info img{
    height: 50px;
}

//Phrase

#phrase-box{
    padding: 0;
    background-color: transparent;
}

#phrase-box h2{
    font-size: 58px;
}

#phrase-box h2 span{
    color: h.$body-text-color;
}



//Review

#review-box{
    background-color: transparent;
}

#box-review-info{
    background-color: h.$primary-color;
    padding-left: 10px;
    padding-right: 10px;
}

#box-review-info img{
    margin-top: 30px;
    height: 200px;
}



#stars-review img{
    height: 31px;
}

#review-text-box{
    height: 170px;
}

#review-text-box h3{
    margin-top: 20px;
    color: h.$secondary-color;
    font-size: 15px;
}

#review-text-box p{
    margin-top: 25px;
    font-size: 12px;
}

#circles{
    padding-top: 10px;
}
#circles button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


#circles button .fa-solid{
    font-size: 30px;
    color: h.$secondary-color;
    margin: 5px;
}


#circles button .fa-solid:hover{
    color: h.$primary-color;
}

@media screen and (min-width:768px) {

    //Hero Image

    #hero-box h2{
        font-size: 70px;
        // line-height: 1em
    }

    //Info

    #info-box-title{
        margin: 0;
    }

    #info-box-main{
        display:flex;
        align-items: center;
        text-align: left;
    }

    #info-box-main > * {
        width:50%;
        padding:1rem;
    }

    .info-box-divided{
        display: flex;
    }

    .icon-info img{
        height: 55px;
        max-width: none;
        margin-right: 10px;
    }


    //Phrase

    #phrase-box h2{
        font-size: 104px;
    }

    //Review

    #box-review-info{
        display: flex;
        align-items: center;
    }

    #box-review-info > * {
        width:50%;
        padding:1rem;
    }

    #information-responsive{
        text-align: left;
    }

    #image-review img{
        margin: auto;
        display: block;
    }


    #circles button .fa-solid{
        font-size: 40px;
    }
}

@media screen and (min-width:1200px) {

     //Hero Image

     #hero-box h2{
        font-size: 100px;
    }

    //Info

    #info-box-title h2{
        font-size: 65px;
    }

    .info-box-divided{
        font-size: 19px;
    }

    .icon-info img{
        height: 71px;
    }



    //Phrase

    #phrase-box h2{
        font-size: 174px;
    }

    //Reviews

    #review-text-box h3{
        font-size: 26px;
    }

    #review-text-box p{
        font-size: 26px;
    }

    #image-review img{
        height: 301px;
    }

    #stars-review img{
        height: 52px;
    }

    #review-text-box{
        height: 320px;
    }

    #circles button .fa-solid{
        font-size: 55px;
        margin: 10px;
    }

}

@media screen and (min-width:1920px){

     //Hero Image

     #hero-box h2{
        font-size: 170px;
    }

     //Info

     #info-box-title h2{
        font-size: 100px;
    }

    .info-box-divided{
        font-size: 30px;
    }

    .icon-info img{
        height: 106px;
    }

    //Phrase

    #phrase-box h2{
        font-size: 262px;
    }

    //Reviews

    #review-text-box h3{
        font-size: 40px;
    }

    #review-text-box p{
        font-size: 40px;
    }

    #image-review img{
        height: 452px;
    }

    #stars-review img{
        height: 78px;
    }

    #review-text-box{
        height: 500px;
    }

    #circles button .fa-solid{
        font-size: 65px;
        margin: 15px;
    }

}